@import url("reset.css");

.main-name {
	color: red;
}

.text-main {
	color: blue;
}
.important {
	color: red;
}
.link {
	color: green;
}
.title-system {
color: blueviolet;
}
.text-system {
color: aquamarine;
}
.title-born {
	color: darkslategray;
}
.text-born {
	color: cornflowerblue;
}
.title-chronology{
	color: darksalmon;
}
.text-chronology {
	color: fuchsia;
}

h3 {
	color: midnightblue;
}
.text-destruction {
	color: khaki;
}

p.text {
	color: brown;
}

.title-system + p {
	color: black;
}
