@import url("fonts.css");
@import url("reset.css");

[class*="__container"] {
	max-width: 1240px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.header {
  font-family: "CoreSansC";
  font-size: 34px;
  font-weight: 600;
  line-height: 45.1px;
  background-color: #b8b4b4;
}

.header__container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.hero__card {
  color: #fff;
  font-family: "CoreSansC", sans-serif;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.hero__image {
  position: absolute;
  width: 100%;
	height: 100%;
  border-radius: 12px;
  aspect-ratio: 605 / 356;
  object-fit: cover;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
}

.hero__content {
  position: relative;
  z-index: 2;
  margin: 67px 0 56px 30px;
}

.hero__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 30.07px;
  letter-spacing: 0.25px;
  margin-bottom: 25px;
}

.hero__subtitle {
  font-size: 34px;
  font-weight: 800;
  line-height: 45.1px;
  text-align: left;
  margin-bottom: 10px;
}

.hero__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.06px;
  letter-spacing: 0.25px;
  margin-bottom: 42px;
}

.hero__link {
  font-size: 20px;
  font-weight: 800;
  line-height: 30.13px;
}

.title {
  display: inline-flex;
  color: rgb(60, 66, 66);
  font-family:  "CoreSansC";
  font-size: 34px;
  font-weight: 600;
  line-height: 33.5px;
  letter-spacing: 2%;
  align-items: center;
  gap: 20px;
  margin-bottom: 70px;
}

.title::before {
  content: "";
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: rgb(138, 51, 253);
  flex: 0 0 6px;
}

.arrival__content {
  position: relative;
  padding: 0 36px 50px 36px;
}

.arrival__content::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 15px;
  background: url("/img/arrow.svg") 0 0 no-repeat;
}

.arrival__content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  height: 15px;
  background: url("/img/arrow1.svg") 0 0 no-repeat;
}

.arrival__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}

.arrival__image {
  margin-bottom: 33px;
}

.arrival__image {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.arrival__link {
  display: inline-block;
  font-family: "Causten";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1%;
}

.saving__link-top {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  border-radius: 4px;
  background: rgb(60, 66, 66);
  padding: 10px 16px;
}

.saving__container {
  padding-bottom: 100px;
}

.saving__title {
  margin-top: 45px;
}

.saving__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.saving__item {
  grid-column: span 2;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.big--item {
  grid-column: span 3;
}

.saving__image {
  position: absolute;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  aspect-ratio: 400 / 393;
  object-fit: cover;
}

.saving__info {
  position: relative;
  color: #fff;
  font-family: "Causten";
  margin: 65px 0 66px 20px;
  z-index: 2;
}

.saving__title-cards {
  font-family: "CoreSansC";
  font-size: 28px;
  font-weight: 600;
  line-height: 38.43px;
  margin-top: 30px;
}

.saving__subtitle-cards {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin-top: 10px;
}

.saving__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 31px;
}

.saving__icon {
  margin-left: 46px;
  margin-bottom: 40px;
  width: 21px;
  height: 25px;
  background: url("/img/arrow-white.svg") 0 0 no-repeat;
}

.saving__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  width: 111px;
  height: 34px;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.info--position {
  padding-right: 20px;
  float: inline-end;
}
.big--info {
  padding-right: 120px;
}

@media (any-hover: hover) {
	.hero__link:hover, .arrival__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 850px) {
	.hero__section {
    grid-template-columns: repeat(1, 1fr);
	}

  .arrival__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .arrival__content::before, .arrival__content::after {
    display: none;
  }

  .saving__cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .saving__item {
    grid-column: span 3;
  }
}