
/* шрифти моєї статті */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:100,regular,700&display=swap");

/* --------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");

@import url("fonts.css");
@import url("reset.css");


body {
font-family: "Causten", sans-serif;
}

.title {
	font-family: "EBGaramond08", serif;
	font-style: italic;
	font-size: 30px;
	font-weight: normal;
	color: cadetblue;
}
.text {
	font-family: "ital";
	font-size: 18px;
	font-weight: 500;
	color: green;
}
.text-story {
	font-family: "ital";
	font-size: 18px;
	font-weight: 500;
	color: rgb(45, 151, 45);
}
.text-war {
	font-family: "Lato";
	font-size: 16px;
	font-weight: 700;
	color: rgb(155, 37, 37);
}
.text-end {
	font-family: "Lato";
	font-size: 16px;
	font-weight: 700;
	color: rgb(173, 51, 51);
}

h2 {
	font-family: "EBGaramond08", serif;
	font-size: 30px;
	font-weight: normal;
	color: gray;
}

h3 {
	font-family: "EBGaramond08", serif;
	font-size: 30px;
	font-weight: normal;
	color: indigo;
}

h4 {
	font-family: "EBGaramond08", serif;
	font-size: 30px;
	font-weight: normal;
	color: rgb(59, 27, 82);
}
/* ------------------------------------------------------------------------------------------ */

.business-title {
color: #37393F;
font-family: "Poppins";
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 127%; /* 38.1px */
}
.business-text {
color: #7D7D7D;
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 146.187%; /* 26.314px */
}
.business-suptitle {
color: #6B77E5;
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 127%; /* 25.4px */
}
.business-text-second {
color: #7D7D7D;
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 146.187%; /* 26.314px */
}


.project-title {
color: #37393F;
font-family: "Poppins";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 127%; /* 50.8px */
}
.project-text {
	color: #7D7D7D;
	font-family: "Inter";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 146.187%; /* 26.314px */
}
.list {
color: #7D7D7D;
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 146.187%; /* 26.314px */
}