@use "sass:math";
@import "_reset.scss";
@import "_fonts.scss";
@import "_functions.scss";
@import "_header.scss";
@import "_hero-section.scss";
@import "_welcome-section.scss";

[class*="__container"] {
	max-width: 1250px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
